<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai Diagnosis</title>
    <link rel="stylesheet" href="static\styles.css">
    <script src="main.js"></script>
</head>
<body id = "mainbody">
    <h1 class = "main"> Welcome  to  the  AI  Diagnosis!</h1>
    <p class = "main" id = "asker"> How are you feeling today?  <p>
    <form class = "main" action = "/" method = "POST" id = "main">
        <input name="prompt" type="text"/>
        <button type = "submit">Send</button>
    </form>

    <p id = "data" style="display: none;">{{output}}</p>
    <p id = "display"></p>
    <script src = "static\manager.js"></script>
</html>
